h1{
    /* height width blur effect */
    text-shadow: 20px 20px 10px red;
    margin: 50px;
}
.box{
    margin: 50px;
    height: 200px;
    width: 200px;
    /* box shadow color is same as of text by default */
    color: green;
    background-color: aqua;
    box-shadow: -10px -10px -10px orangered;
    box-shadow: 20px 20px 20px green, 30px 30px 30px yellow;
}
.div2{
    margin: 50px;
    max-height: 70px;
    border: 2px solid black;
    overflow: scroll;
}